{% extends 'base.html.twig' %}

{% block title %}New Teacher{% endblock %}

{% block body %}
    <h1>Create new Teacher</h1>

    {{ include('crud_teacher/_form.html.twig') }}

    <a href="{{ path('crud_teacher_index') }}">back to list</a>
{% endblock %}
